.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1071px;
    margin: 0 auto 180px;
    padding: 0 25px;
}

@media screen and (max-width:480px) {
    .reviews {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 80px;
        padding: 0 5px;
    }
}


.reviews__items {
    margin-right: 40px;
    max-width: 450px;
}

@media screen and (max-width:480px){
    .reviews__items {
        margin-right: 0;
        text-align: center;
    
    }


}


.reviews__items h3 {
   margin-bottom: 145px;
}

@media screen and (max-width:480px){
.reviews__items h3 {
    margin-bottom: 50px;
}
}

.reviews__items-content p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 40px;
}

@media screen and (max-width:480px) {
    .reviews__items-content p {
        margin-bottom: 25px;
    }
}

.rating {
    margin-bottom: 30px;
}

.reviews__items-content-text p {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
}

.reviews__items-content-text span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
}

.reviews__images {
    border: solid #fff 1px;
    border-radius: 15px;
    box-shadow: -5px 5px 10px #C4C4C4;

}

.reviews__items-images {
    position: relative;
}

.reviews__items-images::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -16px;
    left: -16px;
    background-image: url(../img/element1.png);
    background-repeat: no-repeat;
    z-index: 3;

}

.reviews__items-images::after {
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: -16px;
    right: -16px;
    background-image: url(../img/element2.png);
    background-repeat: no-repeat;
    z-index: -1;
}


@media screen and (max-width:480px) {
    .reviews__items-images img {
        max-width: 200px;
    }
}